@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap");

/* purgecss start ignore */
@import "tailwindcss/base";
/* purgecss end ignore */

@import "tailwindcss/components";

/* purgecss start ignore */
/* @import "@snackbar/core/dist/snackbar.css"; */
/* purgecss end ignore */

@import "tailwindcss/utilities";

/* purgecss start ignore */
/* @supports (position: sticky) { */
/*   @media (min-width: 1024px) { */
/*     .sticky\?lg\:max-h-\(screen-24\) { */
/*       max-height: calc(100vh - 6rem); */
/*     } */
/*   } */
/* } */
/* purgecss end ignore */

* {
  &::-webkit-scrollbar {
    width: 0.3rem;
    height: 0.3rem;
  }
  &::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  &::-webkit-scrollbar-thumb {
    background: #108775;
  }
  &,
  &:before,
  &:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.empty-after:after {
  content: "";
}

.container-fluid {
  max-width: theme("screens.xl");
  margin: auto;
}

body {
  min-width: 320px;
}

a.nuxt-link-exact-active,
a.nuxt-link-active {
  @apply text-primary-lightgreen;
}

.opacity-transition {
  transition: opacity 0.5s ease-out;
}

.truncate-multiline-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
